/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
img{
	display: block;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
@font-face {
	font-family: 'BlissPro-Light';
	src: url('fonts/BlissPro-Light.eot?#iefix') format('embedded-opentype'),
	url('fonts/BlissPro-Light.otf') format('opentype'),
	url('fonts/BlissPro-Light.woff') format('woff'),
	url('fonts/BlissPro-Light.ttf') format('truetype'),
	url('fonts/BlissPro-Light.svg#BlissPro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BlissPro-ExtraLight';
	src: url('fonts/BlissPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('fonts/BlissPro-ExtraLight.otf') format('opentype'),
	url('fonts/BlissPro-ExtraLight.woff') format('woff'),
	url('fonts/BlissPro-ExtraLight.ttf') format('truetype'),
	url('fonts/BlissPro-ExtraLight.svg#BlissPro-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BlissPro-Bold';
	src: url('fonts/BlissPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/BlissPro-Bold.otf') format('opentype'),
	url('fonts/BlissPro-Bold.woff') format('woff'),
	url('fonts/BlissPro-Bold.ttf') format('truetype'),
	url('fonts/BlissPro-Bold.svg#BlissPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BlissPro';
	src: url('fonts/BlissPro.eot?#iefix') format('embedded-opentype'),
	url('fonts/BlissPro.otf') format('opentype'),
	url('fonts/BlissPro.woff') format('woff'),
	url('fonts/BlissPro.ttf') format('truetype'),
	url('fonts/BlissPro.svg#BlissPro') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
	font: 12px/18px 'BlissPro';
	height: 100%;
}


.wrapper {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}
.wrapper  .form{
	height: 100%;
	display: table;
}
.side_block{
	display: table-cell;
	width: 350px;
	background-color: #3a373a;
	color: #fff;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 30px;
}
.side_block .logo{
	width: 290px;
	padding: 16px 0;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	border-bottom: solid 1px #615f61;
}
.side_block .logo .log{
	display: inline-block;
}
.side_block .gallery{
	width: 290px;
	margin: 29px auto;
}
.side_block .gallery .item_gallery{
	float: left;
	width: 100%;
	position: relative;
	margin: 0 0 36px 0;
}
.side_block .gallery .item_gallery .wrap_preview_gallery{
	float: left;
	width: 75px;
	margin: 0 20px 0 0;
	border-radius: 3px;
	overflow: hidden;
}
.side_block .gallery .item_gallery .wrap_preview_gallery img{ }
.side_block .gallery .item_gallery .info_gallery{
	float: left;
	width: 195px;
	margin: 0 0px 0 0;
	position: relative;
}
.side_block .gallery .item_gallery .info_gallery h4{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 17px;
	margin: 0 0 3px 0;
}
.side_block .gallery .item_gallery .info_gallery .col_items{
	font-family: 'BlissPro-ExtraLight';
	font-size: 13px;
	line-height: 17px;
}
.side_block .gallery .item_gallery .info_gallery .edit{
	position: absolute;
	top: 0;
	right: 0;
	float: left;
	width: 20px;
	height: 20px;
	background: url("../images/sprite.png") no-repeat 0px 0px;
}
.wrap_switch{
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}
.wrap_switch .label{
	color: #969696;
	font-size: 13px;
	line-height: 27px;
	float: left;
	margin: 0 15px 0 0;
}
.onoffswitch {
	position: relative;
	width: 68px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	float: left;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #2C292C;
	border-radius: 3px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 27px;
	padding: 0;
	line-height: 29px;
	font-size: 12px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "ON";
	padding-left: 5px;
	background-color: #3A373A; color: #67A84A;
}
.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 5px;
	background-color: #3A373A; color: #625D62;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 33px;
	margin: 0px;
	background: #67A84A;
	position: absolute;
	top: 1px;
	bottom: 0;
	right: 34px;
	border-radius: 3px;
	transition: all 0.3s ease-in 0s;
	height: 27px;
	box-sizing: border-box;
	padding: 7px 0;
	text-align: center;
}
.onoffswitch-switch span{
	background: #e1eedb;
	display: inline-block;
	width: 1px;
	height: 12px;
	margin: 0px 1px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
.side_block .wrap_button{
	width: 340px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 0 20px 0;
	text-align: center;
}
.side_block .wrap_button a,
.side_block .wrap_button button{
	border: solid 2px #575557;
	border-radius: 3px;
	color: #fff;
	margin: 0 10px;
	text-align: left;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	line-height: 17px;
	text-transform: uppercase;
	width: 111px;
	padding: 10px;
	background-color: #3a373a;
	vertical-align: top;
}
.side_block .wrap_button button,
.side_block .wrap_button input{
	width: 130px;
	font-family: 'BlissPro';
	cursor: pointer;
}

.btn_upload:before{
	content: "";
	width: 30px;
	height: 30px;
	float: left;
	background: url("../images/sprite.png") no-repeat 0px -86px;
	margin: 0 10px 0 0;
}

.btn_create_gallery:before {
	content: "";
	width: 30px;
	height: 30px;
	float: left;
	background: url("../images/sprite.png") no-repeat 0px -56px;
	margin: 0 10px 0 0;
}


.content {
	display: table-cell;
	background-color: #fff;
	color: #6a666a;
	position: relative;
	vertical-align: top;
	padding: 0 0 0 40px;
	min-width: 770px;
	width: 100%;
}
.content .profile{
	position: absolute;
	right: 20px;
	top: -2px;
	width: 144px;
	padding: 10px 0px 0;
}
.content .profile.active{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color=#898B8E)"; /*IE 8*/
	-moz-box-shadow: 0 4px 7px 1px rgba(137, 139, 142, 0.3); /*FF 3.5+*/
	-webkit-box-shadow: 0 4px 7px 1px rgba(137, 139, 142, 0.3); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0 4px 7px 1px rgba(137, 139, 142, 0.3); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#898B8E); /*IE 5.5-7*/
}
.content .profile .avatar{
	float: left;
	width: 45px;
	height: 45px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
	position: relative;
	margin: 10px 0 0 31px;
	display: inline-block;
	border: solid 1px #fff;
}
.content .profile .avatar img{
	position: absolute;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
	vertical-align: middle;
}
.content .profile .link_dropdown {
	float: left;
	width: 18px;
	height: 20px;
	margin: 20px 0 0 15px;
}
.content .profile .link_dropdown span{
	background-color: #6d686d;
	height: 2px;
	width: 100%;
	float: left;
	margin: 2px 0;
}
.content .profile .drop_down {
	float: left;
	width: 100%;
	text-align: center;
	margin: 10px 0 0 0;
	display: none;
}
.content .profile .drop_down li{
	float: left;
	width: 100%;
}
.content .profile .drop_down li a{
	text-decoration: none;
	color: #3a373a;
	font-size: 15px;
	line-height: 17px;
	padding: 6px 0;
	float: left;
	width: 100%;
	letter-spacing: 1px;
}
.content .profile .drop_down li:last-child {
	border-top: solid 1px #e7e4e2;
	margin: 10px 0 0 0;
}
.content .profile .drop_down li:last-child a{
	padding: 11px 0;
	color: #acaeae;
}
.content .wrap_btn_top{
	float: left;
	width: 100%;
	margin: 23px 0 0 0px;
}
.content .wrap_btn_top a:first-child{
	margin: 0 30px 0 0;
}
.btn_grey{
	color: #6a666a;
	border-radius: 3px;
	border: solid 2px #cbcbcb;
	text-align: center;
	padding: 13px;
	font-size: 20px;
	line-height: 17px;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 0.8px;
}
.content h1{
	font-family: 'BlissPro-Bold';
	font-size: 28px;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: 2.9px;
	margin: 41px 0 37px 0;
	float: left;
	width: 100%;
}
.content .form{
	float: left;
	width: 100%;
	display: table;
}
.content .form .wrap_terms{ }
.content .form .wrap_terms .label{ }
.form .radio {
	padding: 0 0 0 20px;
	background: url('../images/radio.png') no-repeat left 0px;
	margin: 0px 32px 0 0;
	float: left;
	height: 25px;
	width: auto;
}
.form .radio input { width: 0px; display: none; float: left; }
.form .radio span {
	float: left;
	line-height: 28px;
	text-align: left;
	padding: 0 0 0 11px;
	cursor: pointer;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.radio_chk {
	background: url('../images/check.png') no-repeat 0px 0px !important;
}
.form .checkbox {
	padding: 0 0 0 19px;
	background: url('../images/check.png') no-repeat left 0px;
	margin: 3px 10px 3px 0px;
	cursor: pointer;
	overflow: hidden;
	float: left;
}
.form .checkbox input {
	opacity: 0;
	float: left;
	display: none;
}
.form .checkbox span {
	line-height: 17px;
	text-align: left;
	font-size: 14px;
	margin: 0 0 0 10px;
	font-family: 'BlissPro';
	color: #8d8a8d;
}
.form .checkbox a{
	color: #67a84a;
	text-decoration: underline;
	line-height: 17px;
	font-size: 14px;
	font-family: 'BlissPro';
}
.check_chk {
	background: url('../images/check.png') no-repeat 0px -82px !important;
}
.wrap_drop_zone{
	float: left;
	width: 100%;
	margin: 27px 0 26px 0;
}
#drop_zone {
	height: 165px;
	border: 1px dashed rgba(0, 0, 0, .3);
	border-radius: 0px;
	font-family: Arial;
	text-align: center;
	position: relative;
	line-height: 115px;
	font-size: 18px;
	color: rgba(0, 0, 0, .3);
	float: left;
	width: 743px;
	background-color: #f2f2f2;
}
#drop_zone input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 0;
	width: 100%;
	height: 100%;
}
#drop_zone .large_messages{
	display: inline-block;
}
/*Important*/
#drop_zone.mouse-over {
	border: 2px dashed rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .5);
}
/*If you dont want the button*/
#clickHere {
	position: absolute;
	cursor: pointer;
	left: 50%;
	top: 50%;
	margin-left: -55px;
	margin-top: 12px;
	line-height: 41px;
	color: white;
	font-size: 14px;
	width: 110px;
	height: 41px;
	border-radius: 144px;
	background-color: #67a84a;
}
#clickHere:hover {
	background-color: #67a84a;
}
.upload_image{
	position: relative;
	float: left;
	width: 100%;
}
.upload_image li{
	position: relative;
	display: inline-block;
	margin: 0 20px 20px 0;
	vertical-align: top;
}
[class*='close-'] {
	color: #fff;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	bottom: 10px;
	border: none;
	border-radius: 150px;
	width: 21px;
	height: 20px;
	text-align: center;
	padding: 0;
	cursor: pointer;
	background-color: #67a84a;
	outline: none;
}
.close-thik:after {
	content: '✖'; /* UTF-8 symbol */
}
.upload_image li img{
	display: inline-block;
}
.upload_image li.complete:before{
	content: "";
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url("../images/sprite.png") no-repeat 0px -21px;
	position: absolute;
	top: -8px;
	right: -8px;
}
.upload_image li .spin {
	background-color: #67a84a;
	width: 32px;
	height: 32px;
	border-radius: 150px;
	position: absolute;
	top: -7px;
	right: -7px;
}
.upload_image li.complete .spin{
	display: none;

}
.upload_image li p{
	padding: 8px 0 0 0;
	font-family: 'BlissPro-Light';
	font-size: 14px;
	line-height: 17px;
	color: #cbcbcb;
}
.upload_image li p span{
	color: #67a84a;
	padding: 0 5px;
}
.upload_image li.in_progress{
	background-color: #f2f2f2;
	width: 240px;
	text-align: center;
	height: 160px;
	box-sizing: border-box;
	padding: 22px 0 0 0;
}
.button {
	-moz-appearance: button;
	/* Firefox */
	-webkit-appearance: button;
	/* Safari and Chrome */
	padding: 10px;
	margin: 10px;
	width: 70px;
}
.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}
.dragover {
	border: 5px dashed blue;
}


/*upload file*/
.thumb {
	width: 24px;
	height: 24px;
	float: none;
	position: relative;
	top: 7px;
}

form .progress {
	line-height: 15px;
}

.progress {
	display: inline-block;
	width: 100px;
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}
