{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="fileUpload">
<head>
    <!--<base href="/" />-->
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>SM-ART</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'css/style.css' %}" rel="stylesheet">

    <script src="{% static 'node_modules/angular/angular.min.js' %}"></script>
    <script src="{% static 'node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js' %}"></script>
    <script src="{% static 'node_modules/ng-file-upload/dist/ng-file-upload.min.js' %}"></script>
    <script src="{% static 'node_modules/angular-spinner/node_modules/spin.js/spin.js' %}"></script>
    <script src="{% static 'node_modules/angular-spinner/angular-spinner.min.js' %}"></script>
    <script src="{% static 'node_modules/ui-router/release/angular-ui-router.js' %}"></script>

    <script src="{% static 'assets/app.js' %}"></script>
    <script src="{% static 'assets/my_gallery/myGalleryCtrl.js' %}"></script>
    <script src="{% static 'assets/routes.js' %}"></script>
    <!--<script src="{% static 'services.js' %}"></script>-->


    <script src="{% static 'javascript/jquery-2.2.2.min.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>

</head>
<body>
    <div class="wrapper" >
        <ui-view></ui-view>
    </div>
</body>
</html>
