<form class="form" name="myForm">

    <section class="side_block">
        <div class="logo"><a class="log" href="#"><img src="images/logo.png" title="" alt="" /></a></div>
        <div class="gallery">
            <!--item_gallery-->
            <div class="item_gallery">
                <div class="wrap_preview_gallery">
                    <img src="images/galery1.jpg" title="" alt="" />
                </div>
                <div class="info_gallery">
                    <h4>Uploaded</h4>

                    <div class="col_items">15 items</div>
                    <div class="wrap_switch">
                        <div class="label">Show gallery</div>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"><span></span><span></span><span></span></span>
                            </label>
                        </div>
                    </div>
                    <a class="edit" href="#"></a>
                </div>
            </div>
            <!--item_gallery-->
            <!--item_gallery-->
            <div class="item_gallery">
                <div class="wrap_preview_gallery">
                    <img src="images/galery2.jpg" title="" alt="" />
                </div>
                <div class="info_gallery">
                    <h4>Wanderlust</h4>

                    <div class="col_items">30 items</div>
                    <div class="wrap_switch">
                        <div class="label">Show gallery</div>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                            <label class="onoffswitch-label" for="myonoffswitch2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"><span></span><span></span><span></span></span>
                            </label>
                        </div>
                    </div>
                    <a class="edit" href="#"></a>
                </div>
            </div>
            <!--item_gallery-->
            <!--item_gallery-->
            <div class="item_gallery">
                <div class="wrap_preview_gallery">
                    <img src="images/galery3.jpg" title="" alt="" />
                </div>
                <div class="info_gallery">
                    <h4>All</h4>

                    <div class="col_items">45 items</div>
                    <div class="wrap_switch">
                        <div class="label">Show gallery</div>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                            <label class="onoffswitch-label" for="myonoffswitch3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"><span></span><span></span><span></span></span>
                            </label>
                        </div>
                    </div>
                    <a class="edit" href="#"></a>
                </div>
            </div>
            <!--item_gallery-->
        </div>
        <div class="wrap_button">
            <button class="btn_upload" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Upload photos</button>
            <!--<a class="btn_upload" href="#">Upload photos</a>-->
            <a class="btn_create_gallery" href="#">New gallery</a>
        </div>
    </section>

    <section class="content">
        <div class="profile">
            <div class="avatar"><img src="images/avatar.png" title="" alt="" /></div>
            <a class="link_dropdown" href="#"><span></span><span></span><span></span></a>
            <ul class="drop_down">
                <li><a href="#">My profile</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Sing out</a></li>
            </ul>
        </div>
        <div class="wrap_btn_top">
            <a class="btn_grey" href="#">My Galleries</a>
            <a class="btn_grey" href="#">Curated art</a>
        </div>
        <h1>Upload photos</h1>

        <div class="wrap_terms">
            <label class="checkbox js_check"><input type="checkbox" name="" /><span>agree to </span><a href="#">terms and conditions</a></label>
        </div>


        <!--<fieldset>-->
        <!--<br>Photo:-->
        <!--<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="20MB" required ngf-model-invalid="errorFile">-->
        <!--<i ng-show="myForm.file.$error.required">*required</i><br>-->
        <!--<i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 20M</i>-->
        <!--<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">-->
        <!--<button ng-click="picFile = null" ng-show="picFile">Remove</button>-->
        <!--<br>-->
        <!--&lt;!&ndash;<button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit</button>&ndash;&gt;-->
        <!--<span class="progress" ng-show="picFile.progress >= 0">-->
        <!--<div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>-->
        <!--</span>-->
        <!--<span ng-show="picFile.result">Upload Successful</span>-->
        <!--<span class="err" ng-show="errorMsg">{{errorMsg}}</span>-->
        <!--</fieldset>-->


        <div class="wrap_drop_zone">
            <div id="drop_zone">
                Drag and drop images into this area or select using
                <div id="clickHere">
                    <span>Upload</span>
                    <input class="button" type="file" ngf-select ng-model="picFile" name="file" accept="image/*,application/pdf" ngf-max-size="20MB" required ngf-model-invalid="errorFile" ngf-multiple="false">
                </div>
                <i class="large_messages" ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 20M</i>
            </div>
        </div>


        <!--<div class="wrap_drop_zone">-->
        <!--<div id="drop_zone" ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">-->
        <!--Drag and drop images into this area or select using-->
        <!--<div id="clickHere">-->
        <!--<span>Upload</span>-->
        <!--<input type="file" name="file" id="file" class="button" ngf-select="upload($files)" ngf-multiple="true"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <div class="upload_image">


            <ul>
                <li ng-class="complete">
                    <!--<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" >-->
                    <img ngf-src="picFile" ngf-resize="{width: 200, height: 200, quality: 1}" />
                    <button class="close-thik" ng-click="picFile = null" ng-show="picFile"></button>
                             <span class="progress" ng-show="picFile.progress >= 0">
                                        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                             </span>
                    <span ng-show="picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </li>
                <!--<li ng-class="{complete: percent[$index]}" ng-repeat="f in files">-->
                <!--<img  ngf-src="!files[0].$error && files[$index]" ngf-resize="{width: 200, height: 200, quality: 1}" />-->
                <!--<span class="spin" ng-if="spinner_show[$index]" us-spinner="{lines: 11 , length: 4 , width: 2 , radius: 2,color: '#fff'}"></span>-->
                <!--{{log}}-->
                <!--</li>-->
            </ul>
        </div>
        <!--Files:-->
        <!--<ul>-->
        <!--<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
        <!--</ul>-->
        <!--Upload Log:-->
        <!--<pre>{{log}}</pre>-->


    </section>
</form>
